<!DOCTYPE html>
<html>
    <head>
        <title>
            Movies HomePage
        </title>
        <%- include('./partials/head.ejs') %> 

        <style>
            *{
                color: white;
            }
        </style>
    </head>
    <body style="width: 100vw;">



        <div class="d-flex w-100" id="container">
            <!-- Side Bar -->
            <%- include('./partials/sidebar.ejs') %> 



            <!-- Contains all the content -->
            <div class="d-flex flex-column mt-5 w-100">
                
                <!-- Trending Section && Search Bar-->
                <div style="width: 79%;" class="mx-auto text-white">

                    <!-- Search for movies input element -->
                    <div style="width: 98%;" class="mx-auto d-flex align-items-center text-white">
                        <i class="fas fa-search mx-2 mb-3 text-white" style="font-size: 1.2em;"></i>
                        <input type="text" placeholder="Search for movies..." id="homepageInput" style="background-color: #0B0C10; width: 90%; border: none; margin-left: .5em;" class="mb-3 text-white">
                    </div>

                    <!-- Title -->
                    <h4 class="mx-3 my-4 text-white" style="opacity: .6;">Trending Now</h4>

                    <div class="d-flex mx-auto text-white" style="width: 100%;" id="trendingElement">
                        <% for(let j = 0; j <= 10; j++){ %> 
                            <% let movie =  allAction[j]%>
                            <!-- stores only the year from move.release_date string-->
                            <% const movieYear = movie.release_date.substr(0, 4)%> 

                            <!-- changes the first letter of string to uppercase -->
                            <% const capitalizedLan = movie.original_language.substr(0, 1).toUpperCase() + movie.original_language.substr(1) %> 


                            <!-- Need this div to allow the card div to widen width. COULD BE DUE TO ALL THE BOOTSTRAP THAT THIS WAS REQUIRED -->
                            <div style="width: 30em;">
                                <!-- Each Card -->
                                <div class="container-fluid d-flex flex-column justify-content-end align-items-start rounded mb-3 mx-3 border-0 text-white" id='trendingCard' style="width: 20em; height: 12em; background-color: #0B0C10; background-image: url('https://image.tmdb.org/t/p/original/<%= movie.poster_path %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">

                                    <!-- text part of card -->
                                    <div class="w-100 container-fluid text-white">
                                        <div class="card-body container-fluid text-white" style="padding: .2em .4em;">
                                            <a href="/action/<%= movie._id %> " class="text-decoration-none text-white">
                    
                                                <p style="font-size: .6em; margin-bottom: 0; opacity: .6;"><%= movieYear %> • ★ <%= movie.vote_average %> • <%= capitalizedLan  %>  </p>
                    
                                                <h5 class="card-title mt-1 mb-3" style="font-size: .9em;"><%= movie.title %> </h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    </div>
                </div>
                

                <!-- Main Section -->
                <div class="mx-auto d-flex flex-column" style="width: 83%;">

                    <!-- Action Title -->
                    <h4 class="my-4" style="opacity: .6; margin-left: 1.4em;">Action Movies</h4>

                    <!-- Movie Genre Section -->
                    <main id="movieContainer" class="container-fluid d-flex flex-wrap justify-content-around mx-auto w-100">

                        <!-- Action movie section -->
                        <% for(let i = 0; i < 10; i++){ %> 
                            <% let movie =  allAction[i]%> 
                            <!-- stores only the year from move.release_date string-->
                            <% const movieYear = movie.release_date.substr(0, 4)%> 

                            <!-- changes the first letter of string to uppercase -->
                            <% const capitalizedLan = movie.original_language.substr(0, 1).toUpperCase() + movie.original_language.substr(1) %> 

                            <!-- Each Card -->
                            <div class="card d-flex flex-column justify-content-center align-items-center rounded mb-3 mx-3 border-0 movieCards" id='movieCard' style="width: 13em; height: 24em; background-color: #0B0C10;">
                                
                                <!-- movie image -->
                                <div class="container-fluid  w-100 h-100 rounded mb-3 mx-3 border-0" id='trendingCard' style="background-color: #0B0C10; background-image: url('https://image.tmdb.org/t/p/original/<%= movie.poster_path %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    <form action="/edit/action/<%= movie._id %>" method="GET" class="deleteForm">
                                        <button type="submit" style="background: none; border: none; padding-left: 0; " class="btn<%= i %> deleteBtn"><i class="fas fa-edit text-white mt-2"></i></button>
                                    </form>
                                </div>

                                <!-- bottom part of card -->
                                <div class="w-100">
                                    <div class="card-body" style="padding: .2em .4em;">
                                        <a href="/action/<%= movie._id %> " class="text-decoration-none text-dark">
                
                                            <p style="font-size: .6em; margin-bottom: 0; opacity: .6;"><%= movieYear %> • ★ <%= movie.vote_average %> • <%= capitalizedLan  %>  </p>
                
                                            <h5 class="card-title mt-1" style="font-size: .7em;"><%= movie.title %> </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    </main>


                    <!-- ========================================================================= -->
                    <!-- ========================================================================= -->


                    <!-- Adventure Title -->
                    <h4 class="my-4" style="opacity: .6; margin-left: 1.4em;">Adventure Movies</h4>

                    <!-- Movie Genre Section -->
                    <main id="movieContainer" class="container-fluid d-flex flex-wrap justify-content-around mx-auto w-100">

                        <!-- Adventure movie section -->
                        <% for(let i = 0; i < 10; i++){ %> 
                            <% let movie =  allAdventure[i]%> 
                            <!-- stores only the year from move.release_date string-->
                            <% const movieYear = movie.release_date.substr(0, 4)%> 

                            <!-- changes the first letter of string to uppercase -->
                            <% const capitalizedLan = movie.original_language.substr(0, 1).toUpperCase() + movie.original_language.substr(1) %> 

                            <!-- Each Card -->
                            <div class="card d-flex flex-column justify-content-center align-items-center rounded mb-3 mx-3 border-0 movieCards" id='movieCard' style="width: 13em; height: 24em; background-color: #0B0C10;">
                                
                                <!-- movie image -->
                                <div class="container-fluid w-100 h-100 rounded mb-3 mx-3 border-0" id='trendingCard' style="background-color: #0B0C10; background-image: url('https://image.tmdb.org/t/p/original/<%= movie.poster_path %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    <form action="/edit/adventure/<%= movie._id %>" method="GET" class="deleteForm">
                                        <button type="submit" style="background: none; border: none; padding-left: 0; " class="btn<%= i %> deleteBtn"><i class="fas fa-edit text-white mt-2"></i></button>
                                    </form>
                                </div>

                                <!-- bottom part of card -->
                                <div class="w-100">
                                    <div class="card-body" style="padding: .2em .4em;">
                                        <a href="/adventure/<%= movie._id %> " class="text-decoration-none text-dark">
                
                                            <p style="font-size: .6em; margin-bottom: 0; opacity: .6;"><%= movieYear %> • ★ <%= movie.vote_average %> • <%= capitalizedLan  %>  </p>
                
                                            <h5 class="card-title mt-1" style="font-size: .7em;"><%= movie.title %> </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    </main>


                    <!-- ========================================================================= -->
                    <!-- ========================================================================= -->

                    <!-- Comedy Title -->
                    <h4 class="my-4" style="opacity: .6; margin-left: 1.4em;">Comedy Movies</h4>

                    <!-- Movie Genre Section -->
                    <main id="movieContainer" class="container-fluid d-flex flex-wrap justify-content-around mx-auto w-100">

                        <!-- Comedy movie section -->
                        <% for(let i = 0; i < 10; i++){ %> 
                            <% let movie =  allComedy[i]%> 
                            <!-- stores only the year from move.release_date string-->
                            <% const movieYear = movie.release_date.substr(0, 4)%> 

                            <!-- changes the first letter of string to uppercase -->
                            <% const capitalizedLan = movie.original_language.substr(0, 1).toUpperCase() + movie.original_language.substr(1) %> 

                            <!-- Each Card -->
                            <div class="card d-flex flex-column justify-content-center align-items-center rounded mb-3 mx-3 border-0 movieCards" id='movieCard' style="width: 13em; height: 24em; background-color: #0B0C10;">
                                
                                <!-- movie image -->
                                <div class="container-fluid  w-100 h-100 rounded mb-3 mx-3 border-0" id='trendingCard' style="background-color: #0B0C10; background-image: url('https://image.tmdb.org/t/p/original/<%= movie.poster_path %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    <form action="/edit/comedy/<%= movie._id %>" method="GET" class="deleteForm">
                                        <button type="submit" style="background: none; border: none; padding-left: 0; " class="btn<%= i %> deleteBtn"><i class="fas fa-edit text-white mt-2"></i></button>
                                    </form>
                                </div>

                                <!-- bottom part of card -->
                                <div class="w-100">
                                    <div class="card-body" style="padding: .2em .4em;">
                                        <a href="/comedy/<%= movie._id %> " class="text-decoration-none text-dark">
                
                                            <p style="font-size: .6em; margin-bottom: 0; opacity: .6;"><%= movieYear %> • ★ <%= movie.vote_average %> • <%= capitalizedLan  %>  </p>
                
                                            <h5 class="card-title mt-1" style="font-size: .7em;"><%= movie.title %> </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    </main>


                    <!-- ========================================================================= -->
                    <!-- ========================================================================= -->


                    <!-- Horror Title -->
                    <h4 class="my-4" style="opacity: .6; margin-left: 1.4em;">Horror Movies</h4>

                    <!-- Movie Genre Section -->
                    <main id="movieContainer" class="container-fluid d-flex flex-wrap justify-content-around mx-auto w-100">

                        <!-- Horror movie section -->
                        <% for(let i = 0; i < 10; i++){ %> 
                            <% let movie =  allHorror[i]%> 
                            <!-- stores only the year from move.release_date string-->
                            <% const movieYear = movie.release_date.substr(0, 4)%> 

                            <!-- changes the first letter of string to uppercase -->
                            <% const capitalizedLan = movie.original_language.substr(0, 1).toUpperCase() + movie.original_language.substr(1) %> 

                            <!-- Each Card -->
                            <div class="card d-flex flex-column justify-content-center align-items-center rounded mb-3 mx-3 border-0 movieCards" id='movieCard' style="width: 13em; height: 24em; background-color: #0B0C10;">
                                
                                <!-- movie image -->
                                <div class="container-fluid  w-100 h-100 rounded mb-3 mx-3 border-0" id='trendingCard' style="background-color: #0B0C10; background-image: url('https://image.tmdb.org/t/p/original/<%= movie.poster_path %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    <form action="/edit/horror/<%= movie._id %>" method="GET" class="deleteForm">
                                        <button type="submit" style="background: none; border: none; padding-left: 0; " class="btn<%= i %> deleteBtn"><i class="fas fa-edit text-white mt-2"></i></button>
                                    </form>
                                </div>

                                <!-- bottom part of card -->
                                <div class="w-100">
                                    <div class="card-body" style="padding: .2em .4em;">
                                        <a href="/horror/<%= movie._id %> " class="text-decoration-none text-dark">
                
                                            <p style="font-size: .6em; margin-bottom: 0; opacity: .6;"><%= movieYear %> • ★ <%= movie.vote_average %> • <%= capitalizedLan  %>  </p>
                
                                            <h5 class="card-title mt-1" style="font-size: .7em;"><%= movie.title %> </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    </main>


                    <!-- ========================================================================= -->
                    <!-- ========================================================================= -->


                    <!-- Fantasy Title -->
                    <h4 class="my-4" style="opacity: .6; margin-left: 1.4em;">Fantasy Movies</h4>

                    <!-- Movie Genre Section -->
                    <main id="movieContainer" class="container-fluid d-flex flex-wrap justify-content-around mx-auto w-100">

                        <!-- Fantasy movie section -->
                        <% for(let i = 0; i < 10; i++){ %> 
                            <% let movie =  allFantasy[i]%> 
                            <!-- stores only the year from move.release_date string-->
                            <% const movieYear = movie.release_date.substr(0, 4)%> 

                            <!-- changes the first letter of string to uppercase -->
                            <% const capitalizedLan = movie.original_language.substr(0, 1).toUpperCase() + movie.original_language.substr(1) %> 

                            <!-- Each Card -->
                            <div class="card d-flex flex-column justify-content-center align-items-center rounded mb-3 mx-3 border-0 movieCards" id='movieCard' style="width: 13em; height: 24em; background-color: #0B0C10;">
                                
                                <!-- movie image -->
                                <div class="container-fluid  w-100 h-100 rounded mb-3 mx-3 border-0" id='trendingCard' style="background-color: #0B0C10; background-image: url('https://image.tmdb.org/t/p/original/<%= movie.poster_path %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    <form action="/edit/fantasy/<%= movie._id %>" method="GET" class="deleteForm">
                                        <button type="submit" style="background: none; border: none; padding-left: 0; " class="btn<%= i %> deleteBtn"><i class="fas fa-edit text-white mt-2"></i></button>
                                    </form>
                                </div>

                                <!-- bottom part of card -->
                                <div class="w-100">
                                    <div class="card-body" style="padding: .2em .4em;">
                                        <a href="/fantasy/<%= movie._id %> " class="text-decoration-none text-dark">
                
                                            <p style="font-size: .6em; margin-bottom: 0; opacity: .6;"><%= movieYear %> • ★ <%= movie.vote_average %> • <%= capitalizedLan  %>  </p>
                
                                            <h5 class="card-title mt-1" style="font-size: .7em;"><%= movie.title %> </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    </main>


                    <!-- ///////////////////////////////////////////////////////////////////////////////////////////-->
                    <!-- ///////////////////////////////////Customs Section///////////////////////////////////////// -->

                    <!-- Custom Title -->
                    <h4 class="my-4" style="opacity: .6; margin-left: 1.4em;">Your Movies</h4>

                    <!-- Movie Genre Section -->
                    <main id="movieContainer" class="container-fluid d-flex flex-wrap justify-content-around mx-auto w-100">

                        <!-- Custom movie section -->
                        <% if(allCustom.length > 0){ %> 
                            <% for(let i = 0; i < allCustom.length; i++){ %> 
                                <% let movie =  allCustom[i]%> 
                                <!-- stores only the year from move.release_date string-->
                                <% const movieYear = movie.release_date%> 

                                <!-- changes the first letter of string to uppercase -->
                                <% const capitalizedLan = movie.original_language.substr(0, 1).toUpperCase() + movie.original_language.substr(1) %> 

                                <!-- Each Card -->
                                <div class="card d-flex flex-column justify-content-center align-items-center rounded mb-3 mx-3 border-0 movieCards" id='movieCard' style="width: 13em; height: 24em; background-color: #0B0C10;">
                                    
                                    <!-- movie image -->
                                    <div class="container-fluid  w-100 h-100 rounded mb-3 mx-3 border-0" id='trendingCard' style="background-color: white; background-image: url('<%= movie.poster_path %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                        <form action="/custom/<%= movie.id %>?_method=DELETE" method="POST" class="deleteForm">
                                            <button type="submit" style="background: none; border: none; padding-left: 0;" class="btn<%= i %> deleteBtn"><i class="fas fa-minus-circle text-white mt-2"></i></button>
                                        </form>
                                    </div>

                                    <!-- bottom part of card -->
                                    <div class="w-100">
                                        <div class="card-body" style="padding: .2em .4em;">
                                            <a href="/custom/<%= movie._id %> " class="text-decoration-none text-dark" id="bottomCard">
                    
                                                <p style="font-size: .6em; margin-bottom: 0; opacity: .6;"><%= movieYear %> • ★ <%= movie.vote_average %> • <%= capitalizedLan  %>  </p>
                    
                                                <h5 class="card-title mt-1" style="font-size: .7em;"><%= movie.title %> </h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <% } %> 
                        <% } else {%>
                            Currently Empty
                        <% } %> 
                    </main>

                </div>
            </div>
        </div>

        <!-- footer -->
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>